
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
        repository: kalmhq/echoserver
        username: ${{ secrets.ECHOSERVER_DOCKERHUB_USERNAME }}
        password: ${{ secrets.ECHOSERVER_DOCKERHUB_PASSWORD }}
